html {
    background: white;
    margin-left: 3em;
    margin-right: 3em;
} 


body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
 /*   padding: 1em 4em 1em 4em; */
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

b, strong {
    font-weight: 600;
}

.spacing {
    margin-top: 2em;
}

#addStudent {
    margin-LEFT: 15px;
    MARGIN-BOTTOM: 15px;
}

/* copied from main.css to add black styling to table heads */
thead.cases-table{
    background-color: black; 
    font-style: oblique;
    color: white
}