.show {
    display:block;
}
            
label{
    display:inline-block;
    text-align:left;
}

.form-container {
    margin-top: 25px;
    margin-left: 15px;
}

.form-horizontal .form-group .control-label {
    text-align: left;
}
