.form-a-title {
    margin-top: 1.3em;
    margin-bottom: 0px;
}

.form-container {
    margin-top: 25px;
    margin-left: 15px;
}

.form-horizontal .form-group .control-label {
    text-align: left;
}

label{
    display:inline-block;
    text-align:left;
}

#addStudent {
    margin-LEFT: 15px;
    MARGIN-BOTTOM: 15px;
}
